@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600&display=swap');

/* Weather and social bar */
body #social-media-bar {
  display: flex;
  padding: 5px 5px 0px 5px;
  justify-content:space-between;
  align-items: center;
  background-color: rgb(37, 38, 39);
  font-family: 'Montserrat', sans-serif;
  font-weight:500;
  font-size: .7em;
  color: aliceblue;
}

body .weather{
  margin-left: 5px;
}

body #social-media img{
  width: 25px;
}

/* Header mobile*/
header #mobile-menu{
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 5px 0 0 0;
  background-color: #252627;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  font-weight:500;
  color: #fff;
}

header #mobile-menu #hamburger-menu{
  align-self: center;
  border: none;
  background-color: transparent;
  color: #fff;
}

header #mobile-menu p{ 
  align-self: center;
  text-transform: uppercase;
}

header .highlighted{
  border-bottom: royalblue 2px solid;
  color: rgb(60, 153, 240);
}