header #social-media-bar {
  display: flex;
  width: 100%;
  padding: 0px 20px 0px 20px;
  background-color: rgb(37, 38, 39);
}

header #social-media-bar #current-day, #current-time{
  justify-content: left;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  color: aliceblue;
}

header #current-day{
  margin-left: -20px;
}

header #current-time{
  margin-left: 7px;
}

header .material-icons {
  vertical-align: middle !important;
  padding-bottom: 3px;
}

header #social-media{
  display: flex;
  width: 35%;
  margin: auto;
  justify-content: flex-end;
}

header #social-media img{
  width: 15%;
}


