/* Weather and social bar */
body #social-media-bar {
  display: flex;
  padding: 5px 5px 0px 5px;
  justify-content:space-between;
  align-items: center;
  background-color: rgb(37, 38, 39);
  font-family: 'Montserrat', sans-serif;
  font-weight:500;
  font-size: .7em;
  color: aliceblue;
}

body .weather{
  margin-left: 5px;
}

body #social-media-bar input{
  margin-bottom: 2px;
  padding: 3px;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

body #social-media img{
  width: 25px;
}

/* Title large res */
body #site-landing{
  display: flex;
  flex-direction: column;
  align-content: center;
}

body .title-large{
  margin:10px 0 10px 0;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 4rem;
  font-weight:500;
}

body .title-large a{
  color: rgb(37, 38, 39);
}

body #site-landing ul{
  display: flex;
  justify-content: center;
  letter-spacing: 2px;
  list-style: none;
  font-size: 1rem;
  border-bottom: black 1px solid;
  text-transform: uppercase;
}

body #site-landing ul li{
  margin: 0 0 0 15px;
}

body #site-landing a{
  padding: 5px 5px 0 5px;
  text-decoration: none;
}

body #site-landing a:visited{
  color: rgb(37, 38, 39);
}

body #site-landing ul a:hover{
  background-color: #131313;
  color: white;
}

body #site-landing .highlighted{
  border-bottom: royalblue 3px solid;
  color: rgb(60, 153, 240);
}

body #site-landing .site-slogan{
  font-family: 'Nunito', sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
  margin-top: 15px;
  text-transform: uppercase;
}

/* Header mobile*/
header #mobile-menu{
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 5px 0 0 0;
  background-color: #252627;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight:500;
  color: #fff;
}

header #mobile-menu .hamburger-menu{
  align-self: center;
  border: none;
  background-color: transparent;
  color: #fff;
}

header #mobile-menu p{ 
  align-self: center;
  text-transform: uppercase;
}

header .highlighted{
  border-bottom: royalblue 2px solid;
  color: rgb(60, 153, 240);
}