main #trending-now{
  display: flex;
  margin: 5px 0 5px 0;
  flex-direction: column;
}

main #trending-now span, p{
  align-self: center;
  font-family: 'Nunito', sans-serif;
  font-size: .8em;
  font-weight: 600;
}

main #trending-now span{
  padding: 5px;
  text-transform: uppercase;
  color: #fff;
  background-color: #131313;
}

main #trending-now p{
  margin-top: 5px;
  text-transform: uppercase;
}

/* Notice */

main #trending-articles *{
  margin: 0;
}

main #trending-articles{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 70px 0 70px;
}

main #highlighted-notice{
  flex-grow: 3;
  height: 400px;
  margin-bottom: 5px;
  background-image: url('../img/trending-news/pexels-markus-spiske-2990644.jpeg');
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover; 
}

/* Trending Notice container*/

main .notice-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 195px;
  color: #fff;
}

main .trending-news-col1,.trending-news-col2 {
  display: flex;
  flex-grow: 2;
  flex-shrink: 2;
  padding-left: 5px;
  height: 400px;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
}

main .category span{
  padding: 3px 3px 0 3px;
  font-size: 1.1rem;
  background-color: #131313e0;
  border-bottom: 2px solid rgb(65, 206, 225);
  text-transform: uppercase;
}

main .note-text{
  height: 50px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  background-color: #386c978f;
  font-weight:500;
}

main #notice-2{
  background-image: url('../img/trending-news/pexels-emmy-e-2381069.jpeg');
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover; 
}

main #notice-3{
  background-image: url('../img/trending-news/pexels-edoardo-tommasini-2034851.jpeg');
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover; 
}

main #notice-4{
  background-image: url('../img/trending-news/pexels-pixabay-280076.jpeg');
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover; 
}

main #notice-5{
  background-image: url('../img/trending-news/pexels-cottonbro-3945313.jpeg');
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover; 
}

/* Aside */ 
main aside{
  display: flex;
  flex: 1;
  flex-direction: column;
}

/* Secondary news */
main #second-half{
  display: flex;
  flex-direction: row-reverse;
  margin: 25px 8% 0 8%;
}

main #stay-connected{
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  width: 80%;
  margin: 15px 0 15px 0;
  padding-bottom: 15px;
  border-bottom: 2px groove black;
}

main #stay-connected img{
  width: 30px;
}

main #stay-connected h2{
  font-family: 'Nunito', sans-serif;
  font-size: .6rem;
  font-weight: 600;
  text-transform: uppercase;  
  padding: 5px;
  color: #fff;
  background-color: #131313;
}

main #stay-connected-title{
  align-self: flex-start;
}

main .social-media-reach{
  display: flex;
  align-content: center;
  margin-right: 20px;
  max-height: 30px;
}

main .social-media-reach p{
  margin-left: 5px;
  vertical-align: middle;
  font-size: .8rem;
  text-transform: capitalize;
}

main .social-media-reach button{
  border: none;
  background-color: transparent;
  margin-left: 50%;
  align-self: center;
  font-family: 'Nunito', sans-serif;
  font-size: .8em;
  font-weight: 600;
  text-transform: uppercase;
  cursor:pointer;
}

main .medium-ad{
  color: gray;
  align-self: center;
  width: 290px;
  height: 156px;
  background-image: url('../img/ads/lays_ad.jpeg');
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover; 
  margin: 5px 5px 5px 5px ;
}

main #secondary-news-container{
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: space-between;
  margin-right: 50px;
}

main #secondary-news-title{
  width: 100%;
}

main #secondary-news-title div{
  display: flex;
  border-bottom: 2px groove rgb(65, 206, 225) ;
}

main #secondary-news-title h2{
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;  
  padding: 5px;
  margin: 0;
  background-color: rgb(65, 206, 225) ;
}

main .secondary-notice{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 49%;
  margin-top: 4px;
  height: 150px;
}

main .secondary-category span{
  padding: 0 3px 0 3px;
  font-size: 1rem;
  border-bottom: rgb(65, 206, 225) 2px solid;
  color: #fff;
  background-color: #131313af;
  text-transform: uppercase;
}

main .secondary-title{
  height: 50px;
  font-family: 'Montserrat', sans-serif;
  font-size: .9rem;
  color: #fff;
  background-color: #386c978f;
  font-weight:500;
}

main #secondary-notice-1{
  background-image: url('../img/secondary-news/pexels-motional-studio-1081685.jpeg');
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover; 
}

main #secondary-notice-2{
  background-image: url('../img/secondary-news/pexels-cottonbro-4009402.jpeg');
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover; 
}

main #secondary-notice-3{
  background-image: url('../img/secondary-news/pexels-wendy-wei-1190297.jpeg');
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover; 
}

main #secondary-notice-4{
  background-image: url('../img/secondary-news/pexels-shvets-production-7562357.jpeg');
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover; 
}

main #secondary-notice-5{
  background-image: url('../img/secondary-news/pexels-luis-quintero-2774556.jpeg');
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover; 
}

main #secondary-notice-6{
  background-image: url('../img/secondary-news/pexels-rodnae-productions-6806566.jpeg');
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover; 
}