@media screen and (max-width: 809px) {
  /* Weather and social bar */
  body #social-media-bar, 
  body #site-landing{
    display: none;
  }
  main #secondary-news-container{
    margin: 0;
  }

  main #trending-articles {
    margin: 0;
  }
}

@media screen and (max-width: 1100px) {

  main #second-half{
    flex-wrap: wrap;
  }

  main #stay-connected{
    width: 100%;
  }
}

@media screen and (max-width: 754px) {
  .note-description{
    display: none;
  }
}

@media screen and (min-width: 810px) {
  /* Weather and social bar */
  header #mobile-menu,
  main .site-slogan-mobile{
    display: none;
  }
}