#subscription-message,
.welcome-message{
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-size: 1.3rem;
  font-weight:bold;
  color: #131313;
}

#form-container {
  display: flex;
  justify-content: center;
  margin: auto;
  background-image: url("../img/subscription/background-image.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#form-container *{
  box-sizing: border-box;
}

#form-container form{
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  margin: auto;
  width: 70%;
  background: rgba(255, 255, 255, 0.733);
}

#form-container ul{
  display: flex;
  flex-wrap: wrap;
  margin: 4px auto;
  list-style: none;
}

#form-container button{
  max-width: 35%;
  margin: auto;
  margin-bottom: 10px;
  background-color: transparent;
  border-style: none;
  padding: 2px;
  cursor: pointer; 
}

#form-container .form-part1, 
#form-container .form-part2{
  padding-right: 20px;
  margin: auto;
}

#form-container input{
  flex-basis: 200px;
  font-family: 'Nunito', sans-serif;
  font-size: 1em;
}

#form-container p{
  flex: 1 0 120px;
  padding: 0 5px;
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}

#form-container .highlighted{
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight:bold;
  border-bottom: #131313 2px solid;
  color: rgb(60, 153, 240);
}

#form-container .validated{
  color: transparent;
}

div[class^='error-msg']{
  margin: auto;
  color: crimson;
}


